.firstBlock {
    /*width: 347px;*/
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;

}

.firstBlock span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.closeButton {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 357px;
}

.inputBlock {
    display: flex;
    /*margin-top: 35px;*/
    /*margin-bottom: 25px;*/
}

.checkBoxBlock {
    display: flex;
    align-items: center;
}

.checkBoxBlock span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
}

.saveBlock {
    display: flex;
    justify-content: space-between;
}

.button_style {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    margin: 5px;
    min-width: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.icon_style {
    display: flex;
}

.button_style:disabled {
    background: darkgrey;
}

.button_style:hover {
    background: cadetblue;
}

.coverContainer{

}

.coverMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cover{

}