.button_style {
    margin: 5px;
    min-width: 20px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
}

.icon_style {
    display: flex;
}

.button_style:disabled {
    background: #ceb3b3;
    cursor: default;
}

.button_style:not([disabled]):hover {
    background: cadetblue;
}

.btnNamePagePack {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnNamePagePack img{
    max-width: 100px;
    max-height: 75px;
   }

.sortIcon {
    width: 8px;
    height: 6px;
}

.tablesNotFound{
    padding: 25px;
    text-align: end;
}
