.page {
    display: flex;
    max-width: 1010px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
}

.addNewPackLine {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formLine {
    display: flex;
    justify-content: space-between;

}

.tableBlock {

}